In [1]:
import sqlite3

In [2]:
db = sqlite3.connect("test.db")

In [3]:
ls

 Volume in drive D is MAIN
 Volume Serial Number is 04CB-92D9

 Directory of D:\#DS_Code\Ineuron_2023\SQL Lite

15-01-2023  12:34    <DIR>          .
14-01-2023  21:07    <DIR>          ..
14-01-2023  23:36    <DIR>          .ipynb_checkpoints
15-01-2023  12:34            31,380 SqlLite,mapreduce,filter.ipynb
15-01-2023  12:32             8,192 test.db
15-01-2023  12:32             8,192 test2.db
15-01-2023  12:32            12,288 test3.db
               4 File(s)         60,052 bytes
               3 Dir(s)  325,301,825,536 bytes free

In [4]:
cursor = db.cursor()

In [5]:
cursor.execute("drop table data")

In [6]:
cursor.execute("create table Data(name text, id int, marks real)")

In [7]:
cursor.execute("insert into Data values('A', 120, 496.9)")

In [8]:
cursor.execute("insert into Data values('B', 121, 495)")
cursor.execute("insert into Data values('C', 122, 494.7)")
cursor.execute("insert into Data values('D', 123, 493.9)")
cursor.execute("insert into Data values('E', 124, 492.0)")
cursor.execute("insert into Data values('F', 125, 490.5)")

In [9]:
cursor.execute("select * from Data")

In [10]:
cursor.fetchall()

[('A', 120, 496.9),
 ('B', 121, 495.0),
 ('C', 122, 494.7),
 ('D', 123, 493.9),
 ('E', 124, 492.0),
 ('F', 125, 490.5)]

In [11]:
db.commit()

In [12]:
db.close()

In [13]:
ls

 Volume in drive D is MAIN
 Volume Serial Number is 04CB-92D9

 Directory of D:\#DS_Code\Ineuron_2023\SQL Lite

15-01-2023  12:35    <DIR>          .
14-01-2023  21:07    <DIR>          ..
14-01-2023  23:36    <DIR>          .ipynb_checkpoints
15-01-2023  12:34            31,380 SqlLite,mapreduce,filter.ipynb
15-01-2023  12:35             8,192 test.db
15-01-2023  12:32             8,192 test2.db
15-01-2023  12:32            12,288 test3.db
               4 File(s)         60,052 bytes
               3 Dir(s)  325,301,825,536 bytes free

In [14]:
db = sqlite3.connect("test.db")

In [15]:
cursor = db.cursor()

In [16]:
cursor.execute("select * from Data where marks > 495")

In [17]:
cursor.fetchall()

[('A', 120, 496.9)]

In [18]:
db.close()

In [19]:
db = sqlite3.connect("test2.db")

In [20]:
cursor = db.cursor()

In [21]:
cursor.execute("drop table data2")

In [22]:
cursor.execute("create table Data2(name text, mail text, age int, salary real)")

In [23]:
cursor.execute("insert into Data2 values('A', 'mail@gmail.com', 24, 8354)")
cursor.execute("insert into Data2 values('B', 'mail2@gmail.com',25, 4441)")
cursor.execute("insert into Data2 values('C', 'mail3@gmail.com',26, 6554)")
cursor.execute("insert into Data2 values('D', 'mail4@gmail.com',27, 4541)")

In [24]:
ls

 Volume in drive D is MAIN
 Volume Serial Number is 04CB-92D9

 Directory of D:\#DS_Code\Ineuron_2023\SQL Lite

15-01-2023  12:35    <DIR>          .
14-01-2023  21:07    <DIR>          ..
14-01-2023  23:36    <DIR>          .ipynb_checkpoints
15-01-2023  12:34            31,380 SqlLite,mapreduce,filter.ipynb
15-01-2023  12:35             8,192 test.db
15-01-2023  12:35             8,192 test2.db
15-01-2023  12:35                 0 test2.db-journal
15-01-2023  12:32            12,288 test3.db
               5 File(s)         60,052 bytes
               3 Dir(s)  325,301,817,344 bytes free

In [25]:
cursor.execute("select * from Data2")

In [26]:
cursor.fetchall()

[('A', 'mail@gmail.com', 24, 8354.0),
 ('B', 'mail2@gmail.com', 25, 4441.0),
 ('C', 'mail3@gmail.com', 26, 6554.0),
 ('D', 'mail4@gmail.com', 27, 4541.0)]

In [27]:
db.commit()

In [28]:
db.close()

In [29]:
ls

 Volume in drive D is MAIN
 Volume Serial Number is 04CB-92D9

 Directory of D:\#DS_Code\Ineuron_2023\SQL Lite

15-01-2023  12:35    <DIR>          .
14-01-2023  21:07    <DIR>          ..
14-01-2023  23:36    <DIR>          .ipynb_checkpoints
15-01-2023  12:34            31,380 SqlLite,mapreduce,filter.ipynb
15-01-2023  12:35             8,192 test.db
15-01-2023  12:35             8,192 test2.db
15-01-2023  12:32            12,288 test3.db
               4 File(s)         60,052 bytes
               3 Dir(s)  325,301,825,536 bytes free

db = sqlite3.connect("test.db")

cursor = db.cursor()

cursor.execute("drop table data")

cursor.execute("select * from data")

it's means the files is already deleted

db.commit()

db.close()

In [30]:
db = sqlite3.connect('test2.db')

In [31]:
cursor = db.cursor()

In [32]:
cursor.execute("select * from data2 limit 2")

In [33]:
cursor.fetchall()

[('A', 'mail@gmail.com', 24, 8354.0), ('B', 'mail2@gmail.com', 25, 4441.0)]

In [34]:
db.close()

In [35]:
db = sqlite3.connect("test3.db")

In [36]:
cursor = db.cursor()

In [37]:
cursor.execute("drop table student")
cursor.execute("drop table address")

In [38]:
cursor.execute("create table student(id int, name text, mail text, marks real)")

In [39]:
cursor.execute("create table address(id test, pincode int, location text, phone int)")

In [40]:
cursor.execute("insert into student values(1,'A','mail@gmail.com',98)")
cursor.execute("insert into student values(2,'B','mail2@gmail.com',94)")
cursor.execute("insert into student values(3,'C','mail3@gmail.com',97)")
cursor.execute("insert into student values(4,'D','mail4@gmail.com',91)")
cursor.execute("insert into student values(5,'E','mail5@gmail.com',99)")
cursor.execute("insert into student values(6,'F','mail6@gmail.com',96)")
cursor.execute("insert into student values(7,'G','mail7@gmail.com',92)")
cursor.execute("insert into student values(8,'H','mail8@gmail.com',98)")
cursor.execute("insert into student values(9,'I','mail9@gmail.com',98)")
cursor.execute("insert into student values(10,'J','mail19@gmail.com',94)")

In [41]:
cursor.execute("insert into address values(11,'123','x',9546257898)")
cursor.execute("insert into address values(12,'456','y',9456356854)")
cursor.execute("insert into address values(13,'789','z',9562545367)")
cursor.execute("insert into address values(4,'123','x',9789251451)")
cursor.execute("insert into address values(5,'789','z',9253698759)")
cursor.execute("insert into address values(6,'789','z',9569325746)")
cursor.execute("insert into address values(7,'456','y',9546785272)")
cursor.execute("insert into address values(14,'123','x',9545234548)")
cursor.execute("insert into address values(9,'789','z',9538623545)")
cursor.execute("insert into address values(2,'123','x',9523452344)")

In [42]:
cursor.execute("select * from student")
cursor.fetchall()

[(1, 'A', 'mail@gmail.com', 98.0),
 (2, 'B', 'mail2@gmail.com', 94.0),
 (3, 'C', 'mail3@gmail.com', 97.0),
 (4, 'D', 'mail4@gmail.com', 91.0),
 (5, 'E', 'mail5@gmail.com', 99.0),
 (6, 'F', 'mail6@gmail.com', 96.0),
 (7, 'G', 'mail7@gmail.com', 92.0),
 (8, 'H', 'mail8@gmail.com', 98.0),
 (9, 'I', 'mail9@gmail.com', 98.0),
 (10, 'J', 'mail19@gmail.com', 94.0)]

In [43]:
cursor.execute("select * from student s left join address a on s.id=a.id")

where `s` and `a` are nickname of `student` and `address`

In [44]:
cursor.fetchall()

[(1, 'A', 'mail@gmail.com', 98.0, None, None, None, None),
 (2, 'B', 'mail2@gmail.com', 94.0, 2, 123, 'x', 9523452344),
 (3, 'C', 'mail3@gmail.com', 97.0, None, None, None, None),
 (4, 'D', 'mail4@gmail.com', 91.0, 4, 123, 'x', 9789251451),
 (5, 'E', 'mail5@gmail.com', 99.0, 5, 789, 'z', 9253698759),
 (6, 'F', 'mail6@gmail.com', 96.0, 6, 789, 'z', 9569325746),
 (7, 'G', 'mail7@gmail.com', 92.0, 7, 456, 'y', 9546785272),
 (8, 'H', 'mail8@gmail.com', 98.0, None, None, None, None),
 (9, 'I', 'mail9@gmail.com', 98.0, 9, 789, 'z', 9538623545),
 (10, 'J', 'mail19@gmail.com', 94.0, None, None, None, None)]

In [45]:
cursor.execute("delete from student where id>7")

In [46]:
cursor.execute("select * from student")

In [47]:
cursor.fetchall()

[(1, 'A', 'mail@gmail.com', 98.0),
 (2, 'B', 'mail2@gmail.com', 94.0),
 (3, 'C', 'mail3@gmail.com', 97.0),
 (4, 'D', 'mail4@gmail.com', 91.0),
 (5, 'E', 'mail5@gmail.com', 99.0),
 (6, 'F', 'mail6@gmail.com', 96.0),
 (7, 'G', 'mail7@gmail.com', 92.0)]

In [48]:
cursor.execute("update student set id = 10 where id = 2")

In [49]:
cursor.execute("update student set name ='Z' where name = 'B'")

In [50]:
cursor.execute("select * from student")
cursor.fetchall()

[(1, 'A', 'mail@gmail.com', 98.0),
 (10, 'Z', 'mail2@gmail.com', 94.0),
 (3, 'C', 'mail3@gmail.com', 97.0),
 (4, 'D', 'mail4@gmail.com', 91.0),
 (5, 'E', 'mail5@gmail.com', 99.0),
 (6, 'F', 'mail6@gmail.com', 96.0),
 (7, 'G', 'mail7@gmail.com', 92.0)]

In [51]:
db.commit()
db.close()

In [52]:
lst = [1,2,3,4,5,6]

In [53]:
lst2 = []
for i in lst:
    lst2.append(i+5)

In [54]:
lst2

[6, 7, 8, 9, 10, 11]

In [55]:
[i+5 for i in lst]

[6, 7, 8, 9, 10, 11]

#### <div class='alert alert-info'>map()</div>

In [56]:
def test(a):
    return a+5

In [57]:
list(map(test, lst))

[6, 7, 8, 9, 10, 11]

In [58]:
def test2(a):
    return a*5*4

In [59]:
list(map(test2, lst2))

[120, 140, 160, 180, 200, 220]

In [60]:
lst3 = ['1','2','3','4','5']

In [61]:
def test4(a):
    return int(a)

In [62]:
list(map(test4, lst3))

[1, 2, 3, 4, 5]

In [63]:
list(map(lambda x:int(x), lst3))

[1, 2, 3, 4, 5]

In [64]:
#even or odd
def test4(a):
    if(a%2==0):
        return 'even'

In [65]:
list(map(test4, lst2))

['even', None, 'even', None, 'even', None]

In [66]:
[i for i in lst2 if i%2==0]

[6, 8, 10]

In [67]:
list(filter(test4, lst2))

[6, 8, 10]

In [68]:
list(filter(lambda x: x%2==0 , lst2))

[6, 8, 10]

In [69]:
from functools import reduce

In [70]:
lst4 = [4,5,6,67,6]

In [71]:
def test5(a, b):
    return a+b

In [72]:
reduce(test5, lst4)

88

In [73]:
reduce(lambda x,y: x+y, lst4)

88

In [74]:
sum(lst4)

88

In [75]:
lst2, lst3, lst4

([6, 7, 8, 9, 10, 11], ['1', '2', '3', '4', '5'], [4, 5, 6, 67, 6])

In [76]:
list(zip(lst2, lst3, lst4))

[(6, '1', 4), (7, '2', 5), (8, '3', 6), (9, '4', 67), (10, '5', 6)]

`zip` will be able to create pair of the minimum element(size wise)